.advantages__icon {   /*  анимация сердечка))))) */
    &_animated {
        animation-name: heartbeat;
        animation-duration: 2s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;

    }

}