.reviews {
    min-height: 990px;
    padding: 40px 0 60px 0;
    background-color: #Fff;
    .review {
        margin-top: 60px;
        width: 904px;
        display: flex;
        img {
            min-width: 169px;
            height: 100%;
            margin-right: 60px;
        }
        &__user {
            font-weight: 700;
            font-size: 18px;
            color: #0D0D0D;
        }
        &__user__achievement {
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: #646464;
        }
        &__user__descr {
            margin-top: 10px;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #0D0D0D;
        }    
    }
}
